<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/style.css">
<title>Werewolf</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Play together with AI - Werewolf</h1>
        <button class="settings-button">Settings</button>
    </div>
    
    <div class="image-container">
        <img src="/static/images/title.png" alt="Werewolf Image">
    </div>
    
    <div class="description">
        <p>An online game based on the famous werewolf cardgame, but also with AI-agents as players. 
        </p>
    </div>
    
    <div class="navigation">
        <button class="prev-button" onclick="window.location.href='/'">Start new game</button>
        <button class="next-button" onclick="window.location.href='/'">Apply at an existing game</button>
    </div>
</div>
</body>
</html>
